$lighter-blue-background: #CCEEEC;
$white: #fff;
$sign-in-color: #0f969f;
$navbar-background: #f4cbd3;
$navbar-text: #6e1348;
$teal-button: #75cbd1;
$green-button: #87c380;
$purple-button: #702c8e;
$pink-button: #c156ba;
$nav-color: #990000;
$shop-text: #7BB302;
$bottom-background: #00cfcf;
$more-green-text: #47D147;
$shopping-background: #e8fdcd;
$mobile-form-button: #6bb800;
$bottom-links: #b6e4e5;