body{
  overflow-x:hidden;
}

.main-top{
  background-color: #CCEEEC
}

.top-nav{
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.top-sign-in{
  text-align: right;
  color: #0f969f;
}

body div div.topmost-column {
  margin-top: 40px;
}


.main-top h1{
  font-size: 2em;
}

/* Logo Image */

.main-top h2{
  color: teal;
  text-align: center;
}

#logo-image-sizing {
  width: 100%;
  margin: -30px 0px 0px 15px;
  height: auto;
}

/* Navigation bar */

.ui.grid {
  padding-bottom: -10px;
}

.navbar .ui.grid {
  background-color: #f4cbd3;
  padding-top: -15px;
}

.ui.fourteen.wide.centered.column {
  height: 60px;
  width: 100%;
}

.ui.horizontal.list {
  width: 100%;
  margin: 0 auto;
}

.ui.fourteen.wide.centered.column div.list div.item {
  padding: 0 4%;
  margin: 0 auto;
}

.ui.fourteen.wide.centered.column div.list div.item:last-child {
  padding-right: 0;
}

.ui.fourteen.wide.centered.column div.ui.horizontal.list div.item div.content a {
  font-family: chunkfiveroman;
  font-size: 1.25em;
  text-decoration: none;
  color: #6e1348; /* come back */
}

.navbarmenu {
  display: table;
  width: 100%;
}

.navbarmenu > ul {
  display: table-row;
  width: 100%;
}

.navbarmenu > ul > li {
  display: table-cell;
  width: 1%;
}

.navbarmenu > ul > li > div.ui.search {
  max-width: 177px;
  margin-right: 0;
}

.navbarmenu > ul > li:last-child {
  max-width: 177px;
}

/*Buttons at the top*/

.top-buttons div.buttons div.button,
.ui.buttons .button:first-child,
.ui.buttons .button:last-child {
  border-radius: 30px;
}

div.four.fluid.ui.buttons {
  padding: 7% 5% 0 0;
}

.ui.teal.button {
  background-color: #75cbd1;
}

.ui.green.button {
  background-color: #87c380;
}

.ui.purple.button {
  background-color: #702c8e;
}

.ui.pink.button {
  background-color: #c156ba;
}

/* Tag line under those buttons */

#tagline-img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

/* Nav */
a {
font-size: 1em;
color: #990000;
}

/*Bread Crumb and Dropdown Styles*/

.results-navigator {
  margin: 0 20px -15px auto;
  color: #7BB302;
}

.ui.breadcrumb a.section {
  color: #7BB302;
}

div.ui.dropdown {
  border: 2px solid #7BB302;
  width: 75px;
  padding: 1px;
}

i.dropdown.icon:active > div.menu {
  display: block;
}

p:first-child {
  display: inline-block;
  /*margin: 20px 5px 5px 0;*/
}

.page-turner > a,
.page-turner > p {
  display: inline-block;
}

/* bottom */

.bottom-background {
  background-color: #00cfcf;
}

.bottom-container {
  background-color: white;
  border-radius: 0 0 50px 50px;
}

.main-bottom {
  margin-top: 14px;
}

.top-image {
  border-radius: 50px 50px 0 0;
  padding: 10px;
}

.bottom-image {
  border-radius: 0 0 50px 50px;
  padding: 10px;
}

.green-text {
  color: #47D147;
}

.teal-text {
  color: #00cfcf;
}

/*Bottom Links*/

div.bottom-links ul li {
  text-decoration: none;
  display: inline;
}

div.bottom-links ul li a {
  color: white;

}

.green-box {
  height: 120px;
  width: 120px;
  background-color: #e8fdcd;
  margin-bottom: 14px;
}

.search-result {
  display: inline-block;
  margin: 18px;
}

.search-result > p {
  color: #7bb302;
  font-size: 10px;
  line-height: 1px;
  text-align: center;
}

form.ui.form {
  background-color: #e8fdcd;
  border-radius: 40px;
  padding: 14px 14px 50px 14px;
  margin: 6px -10px 0 20px;
}

form.ui.form > p:first-of-type {
  border-bottom: 1px solid green;
  text-align: center;
  font-size: 20px;
}

form.ui.form,
.ui.form .inline.fields .field>.ui.checkbox label,
.ui.grid > .column:not(.row),
.ui.form .grouped.fields>label {
  font-size: 16px;
  color: #6bb800;
}

.grouped.inline.fields {
  margin-bottom: 30px;
}

.mini.ui.green.button {
  margin: 0;
  border-radius: 20px;
  text-align: center;
}
