body{
  overflow-x:hidden;
}

.main-top{
  background-color: #d6f1f0;
}

.top-nav{
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.top-sign-in{
  text-align: right;
  color: #0f969f;
}

body div div.topmost-column {
  margin-top: 40px;
}


.main-top h1{
  font-size: 2em;
}

/* Logo Image */

.main-top h2{
  color: teal;
  text-align: center;
}

#logo-image-sizing {
  width: 100%;
  margin: -30px 0px 0px 15px;
  height: auto;
}

/*Buttons at the top*/

.top-buttons div.buttons div.button,
.ui.buttons .button:first-child,
.ui.buttons .button:last-child {
  border-radius: 30px;
}

div.four.fluid.ui.buttons {
  padding: 7% 5% 0 0;
}

.ui.teal.button {
  background-color: #78cbd0;
}

.ui.green.button {
  background-color: #8db639;
}

.ui.purple.button {
  background-color: #6f308c;
}

.ui.pink.button {
  background-color: #e9178c;
}

/* Tag line under those buttons */

#tagline-img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

/* Navigation bar */

.ui.grid {
  padding-bottom: -10px;
}

.navbar .ui.grid {
  background-color: #f4cbd3;
  padding-top: -15px;
  margin-top: 14px;
}

.navbar .ui.grid .ui.fourteen.wide.centered.column {
  height: 60px;
  width: 100%;
  z-index: 2;
}

.ui.horizontal.list {
  width: 80%;
  padding: 0 1%;
  margin: 0 14%;
}

.navbar .ui.grid .ui.sixteen.wide.centered.column div.list div.item {
  padding: 0 3%;
}

.navbar .ui.grid .ui.sixteen.wide.centered.column div.list div.item:last-child {
  padding-right: 0;
}

.navbar .ui.grid .ui.sixteen.wide.centered.column div.ui.horizontal.list div.item div.content a {
  font-family: chunkfiveroman;
  font-size: 1.25em;
  text-decoration: none;
  font-color: #6e1348;
}

/*Bread Crumb and Dropdown Styles*/

.results-navigator {
  margin: 0 20px -15px auto;
  color: #668637;
}

.ui.breadcrumb a.section {
  color: #668637;
}

div.ui.dropdown:not(.ui.vertical.menu>.item:first-child) {
  border: 2px solid #668637;
  width: 75px;
  padding: 1px;
}

i.dropdown.icon:active > div.menu {
  display: block;
}

.left.aligned.six.wide.column>p:first-child {
  display: inline-block;
  /*margin: 20px 5px 5px 0;*/
}

.page-turner > a,
.page-turner > p {
  display: inline-block;
}

/* bottom */

.bottom-background {
  background-color: #78cbd1;
}

.bottom-container {
  background-color: white;
  border-radius: 0 0 50px 50px;
}

.main-bottom {
  margin-top: 14px;
}

.top-image {
  border-radius: 50px 50px 0 0;
  padding: 10px;
}

.bottom-image {
  border-radius: 0 0 50px 50px;
  padding: 10px;
}

.green-text {
  color: #47D147;
}

.teal-text {
  color: #78cbd1;
}

.green-box {
  height: 120px;
  width: 120px;
  background-color: #e8fdcd;
  margin-bottom: 14px;
}

.search-result {
  display: inline-block;
  margin: 18px;
}

.search-result > p {
  color: #7bb302;
  font-size: 10px;
  line-height: 1px;
  text-align: center;
}

form.ui.form {
  background-color: #e8fdcd;
  border-radius: 40px;
  padding: 14px 14px 50px 14px;
  margin: 6px -10px 0 20px;
}

form.ui.form > p:first-of-type {
  border-bottom: 1px solid green;
  text-align: center;
  font-size: 20px;
}

form.ui.form,
.ui.form .inline.fields .field>.ui.checkbox label,
.ui.grid > .column:not(.row),
.ui.form .grouped.fields>label {
  font-size: 16px;
  color: #6bb800;
}

.grouped.inline.fields {
  margin-bottom: 30px;
}

.mini.ui.green.button {
  margin: 0;
  border-radius: 20px;
  text-align: center;
}

/*Bottom Links*/

.bottom-links {
  display: table;
  margin: 3% auto;
}

.bottom-links li:first-child {
  margin-left: 0;
  padding-left: 0;
}

.bottom-links li:last-child {
  padding-right: 40px;
}

.bottom-links li {
  text-decoration: none;
  display: inline;
  padding-right: 22px;
}

.bottom-links li a {
  color: #b6e4e5;
  font-size: .8em;
}

.bottom-links li+li a:before {
  content: '  ';
  padding-left: 22px;
  border-left: 1px solid #b6e4e5;
}

@media (max-width: 883px) {
  #navbar-search {
    display: none;
  }
}

@media (min-width: 884px) and (max-width: 989px) {
  .ui.horizontal.list {
    width: 95%;
    padding: 0 0 0 2%;
    margin: 0 auto 0 3%;
  }
}

@media (min-width: 990px) and (max-width: 1093px) {
  .ui.sixteen.wide.centered.column div.list div.item {
    padding: 0 2%;
    margin: 0 auto;
  }

  .ui.horizontal.list {
    width: 90%;
    padding: 0 2%;
    margin: 0 auto 0 8%;
  }
}

@media (min-width: 1094px) and (max-width: 1269px) {
  .ui.sixteen.wide.centered.column div.list div.item {
    padding: 0 4.7%;
    margin: 0 auto;
  }
}

/*
@media (min-width: 1072px) and (max-width: 1335px) {
  .fourteen.wide.centered.column {
    width: 962px;
  }
}

@media (min-width: 807px) and (max-width: 1071px) {
  .fourteen.wide.centered.column {
    width: 731px;
  }
}

@media (max-width: 543px) {
  .fourteen.wide.centered.column {
    width: 500px;
  }
}

*/
div.hidden-mobile-form-button > div > h2 > a#refine-button {
  color: #6bb800;
  margin-left: 35px;
}

@media screen and (max-width: 768px) {
  #disappearing-form {
    display: none;
  }

  div.hidden-mobile-form-button {
    background-color: #e8fdcd;
  }

  div.hidden-mobile-form-button:hover > form#disappearing-form {
    display: block;
  }

  div#disappearing-form:hover {
    display: block;
  }

  div.page-turner {
    float: left;
  }

  #logo-image-sizing {
    width: 90%;
    margin: 0;
  }

  #tagline-img {
    margin-bottom: 10px;
  }

  .green-box {
    height: 200px;
    width: 200px;
  }

  .search-result > p {
    font-size: 20px;
    line-height: 1px;
    text-align: center;
  }

  #bottom-links {
    display: none;
  }

  .navbar {
    display: none;
  }
}
