doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial scale=1")
    title(Savings Multiplied)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css")
    link(rel="stylesheet", href="/type/stylesheet.css", type="text/css", charset="utf-8")
    link(rel="stylesheet", href="/css/main.css")

  body
    //<div class="second-background"></div>

    //Beginning of main-bottom
    .main-bottom
      .bottom-background.ui.page.grid
        .bottom-container.sixteen.wide.centered.column
          .ui.stackable.grid
            .five.wide.column.hidden-mobile-form-button
              .five.wide.column
                h2
                  a#refine-button(Refine Your Search)
                form.ui.form#disappearing-form(action="#")
                  p Limit your search by:
                  .ui.icon.input
                    input(type="text")
                    i.green.circular.search.icon

                  .ui.grid
                    .five.wide.column
                      label(for="condition") Condition: 
                    .eleven.wide.column
                      .grouped.inline.fields
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="condition", checked)
                            label New
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="condition")
                            label Gently used
                  label(for="size") Size:
                  .ui.grid
                    .one.wide.column
                    .four.wide.column
                      .grouped.inline.fields
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="size" checked)
                            label 4
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="size" checked)
                            label 5
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="size" checked)
                            label 6
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="size" checked)
                            label 7
                    .four.wide.column
                      .grouped.inline.fields
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="size" checked)
                            label 8
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="size" checked)
                            label 9
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="size" checked)
                            label 10
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="size" checked)
                            label 11
                  label(for="season") Season:
                  .ui.grid
                    .one.wide.column
                    .nine.wide.column
                      .grouped.inline.fields
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="season" checked)
                            label All Seasons
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="season")
                            label Spring
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="season")
                            label Summer
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="season")
                            label Fall
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="season")
                            label Winter
                  label(for="type") Type:
                  .ui.grid
                    .one.wide.column
                    .nine.wide.column
                      .grouped.inline.fields
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="type" checked)
                            label Any
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="type")
                            label One-Piece
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="type" checked)
                            label Tops
                        .field
                          .ui.radio.checkbox
                            input(type="radio", name="type")
                            label Bottoms
                  .ui.vertical.menu
                    .ui.dropdown.item
                      p Brands
                      i.green.dropdown.icon
                      .menu
                        a.item Jane and Jack
                        a.item Osh Kosh K'Bosh
                        a.item Burlap Sack





