doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial scale=1")
    title(Savings Multiplied)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css")
    link(rel="stylesheet", href="/type/stylesheet.css", type="text/css", charset="utf-8")
    link(rel="stylesheet", href="/css/main.css")

  body
    //<div class="second-background"></div>
    //Beginning of main top
    .ui.page.stackable.grid.main-top
      .sixteen.wide.column.topmost-column
        .top-sign-in.four.wide.column sign in | sign up
      .sixteen.wide.centered.column.top-nav
        .ui.stackable.grid
          .row
            .title.six.wide.column
              img.image#logo-image-sizing(src="imgs/images/savings-multiplied-logo.png")
            .top-buttons.ten.wide.column
              .four.fluid.ui.buttons
                .ui.teal.button About
                .ui.green.button Contact
                .ui.purple.button Blog
                .ui.pink.button Press
              img#tagline-img(src="imgs/images/tagline.png" alt="Where parents of multiples save and share")
    //Beginning of navigation span
    .navbar
      .ui.grid
        .ui.sixteen.wide.centered.column
          .ui.horizontal.list
            .item
              .content
                a Buy
            .item
              .content
                a Sell
            .item
              .content
                a How it Works
            .item
              .content
                a Links
            .item
              .content
                a Community
            .item
              .content
                input(
                  type='text',
                  class='prompt'
                )

    //Beginning of main-bottom
    .main-bottom
      .bottom-background.ui.page.grid
        .bottom-container.sixteen.wide.centered.column
          .ui.stackable.grid
            //modularize here
            block content

        .sixteen.wide.centered.column#bottom-links
          ul.bottom-links
            li
              a Link here
            li
              a Link here
            li
              a Link here
            li
              a Link here
            li
              a Link here
            li
              a Link here
