.navbar
  .ui.grid
    .ui.sixteen.wide.centered.column
      .ui.horizontal.list
        .item
          .content
            a Buy
        .item
          .content
            a Sell
        .item
          .content
            a How it Works
        .item
          .content
            a Links
        .item
          .content
            a Community
        .item
          .content
            input(
              type='text',
              class='prompt',
              placeholder='search'
            )

