extends _search-column
append _search-content
    .eleven.wide.column
      .left.aligned.column
        .search-result.pull-left
          .green-box
          p Sailor Suits $15.00
          p Jane Joe 4 hours
        .search-result.pull-left
          .green-box
          p Sailor Suits $15.00
          p Jane Joe 4 hours
        .search-result.pull-left
          .green-box
          p Sailor Suits $15.00
          p Jane Joe 4 hours
        .search-result.pull-left
          .green-box
          p Sailor Suits $15.00
          p Jane Joe 4 hours
        .search-result.pull-left
          .green-box
          p Sailor Suits $15.00
          p Jane Joe 4 hours
        .search-result.pull-left
          .green-box
          p Sailor Suits $15.00
          p Jane Joe 4 hours
        .search-result.pull-left
          .green-box
          p Sailor Suits $15.00
          p Jane Joe 4 hours
        .search-result.pull-left
          .green-box
          p Sailor Suits $15.00
          p Jane Joe 4 hours
        .search-result.pull-left
          .green-box
          p Sailor Suits $15.00
          p Jane Joe 4 hours
        .search-result.pull-left
          .green-box
          p Sailor Suits $15.00
          p Jane Joe 4 hours
        .search-result.pull-left
          .green-box
          p Sailor Suits $15.00
          p Jane Joe 4 hours
