.ui.page.stackable.grid.main-top
  .sixteen.wide.column.topmost-column
    .top-sign-in.four.wide.column sign in | sign up
  .sixteen.wide.centered.column.top-nav
    .ui.stackable.grid
      .row
        .title.six.wide.column
          img.image#logo-image-sizing(src="imgs/images/savings-multiplied-logo.png")
        .top-buttons.ten.wide.column
          .four.fluid.ui.buttons
            .ui.teal.button About
            .ui.green.button Contact
            .ui.purple.button Blog
            .ui.pink.button Press
          img#tagline-img(src="imgs/images/tagline.png" alt="Where parents of multiples save and share")

